/* header */
*{
    margin: 0px;
    padding: 0px;
}
header{
    width: 100%;
    height: auto;
    position: sticky;
    top: 0%;
    background-color: white;
}

header>#navtop{
    width: 100%;
    height: 20%;
    background: rgb(254,232,232);
}
#navtop{
    display: flex;
    
}
#navtop div{
    display: flex;
    margin: 0.5%;

}
#navtop img{
    width: 3%;
}
#navtop>.left-right{
    justify-content: end;  
}
header>#navmiddel{
    width: 100%;
    height: 60%;
}
#navmiddle{
    display: flex;
    justify-content: space-between;
    /* padding: 2%; */
}
#navmiddle>.logo img{
    width: 15%;
    margin-left: 60px;
}
#navmiddle>.cart-login{
    display: flex;
    justify-content: center; 
}
#navmiddle>.cart-login>img{
    width: 30%;
}
#navmiddle>.cart-login>a>img{
    width: 60%;
}

#navmiddle>.search{
    margin: auto;
    margin-left: -100px;
    align-items: center;
    justify-content: center;
}
.search{
    display: flex;
}
.search>button{
    width: auto;
    display: flex;
    padding: 5px;
}
.search>input{
    width: 500px;
    text-align: center;
    padding: 5px;
}

#navbottom{
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

#navbottom a{
    text-decoration: none;
    color: black;
    text-align: center;
}

#navbottom a:hover{
    color: pink;
}

/* footer */
#footerContainer{
    width: 98%;
    margin: auto;
    padding-bottom: 5%;
}
footer>div{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(11,1fr);
    gap: 10px;
   
}
#footerContainer>div>h3{
    color: rgb(201,197,195);
    margin: auto;
    margin-bottom: 5%;
    padding: 5px;
}
#footerContainer a{
    text-decoration: none;
    color: black;
    text-align: center;
}
#footerContainer a:hover{ 
    color: pink
}

#container{
    width: 20%;
    
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    /* justify-content: center; */
    text-align: center;
    margin: auto;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 70px;
    background-color: #fee8e8;
}
#container button{
    background-color: #db8484;
    margin: 5px;
    text-align: center;
    padding: 2%;
}
#container button:hover{
    background-color: #83080881;
    padding: 3%;
    
}
#container input{
    margin: 5px;
    text-align: center;
    height: 25px;
}
#signUp{
    display: none;
}